<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>plant_6_1_n_1_a0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 559}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -43}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{866, 108}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{264, 555}, {92, 92}}</string>
			<key>spriteOffset</key>
			<string>{-10, -41}</string>
			<key>spriteSize</key>
			<string>{92, 92}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{872, 210}, {92, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{252, 551}, {88, 96}}</string>
			<key>spriteOffset</key>
			<string>{-24, -39}</string>
			<key>spriteSize</key>
			<string>{88, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{476, 6}, {88, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{253, 551}, {88, 96}}</string>
			<key>spriteOffset</key>
			<string>{-23, -39}</string>
			<key>spriteSize</key>
			<string>{88, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{6, 6}, {88, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{254, 551}, {90, 96}}</string>
			<key>spriteOffset</key>
			<string>{-21, -39}</string>
			<key>spriteSize</key>
			<string>{90, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{198, 210}, {90, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{256, 552}, {90, 94}}</string>
			<key>spriteOffset</key>
			<string>{-19, -39}</string>
			<key>spriteSize</key>
			<string>{90, 94}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{390, 210}, {90, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{259, 553}, {90, 94}}</string>
			<key>spriteOffset</key>
			<string>{-16, -40}</string>
			<key>spriteSize</key>
			<string>{90, 94}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{678, 210}, {90, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{263, 555}, {92, 92}}</string>
			<key>spriteOffset</key>
			<string>{-11, -41}</string>
			<key>spriteSize</key>
			<string>{92, 92}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 312}, {92, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 559}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -43}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{578, 108}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a17.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{274, 555}, {92, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -41}</string>
			<key>spriteSize</key>
			<string>{92, 92}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 210}, {92, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{279, 553}, {90, 94}}</string>
			<key>spriteOffset</key>
			<string>{4, -40}</string>
			<key>spriteSize</key>
			<string>{90, 94}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 108}, {90, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a19.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{282, 552}, {90, 94}}</string>
			<key>spriteOffset</key>
			<string>{7, -39}</string>
			<key>spriteSize</key>
			<string>{90, 94}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 210}, {90, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{260, 553}, {90, 94}}</string>
			<key>spriteOffset</key>
			<string>{-15, -40}</string>
			<key>spriteSize</key>
			<string>{90, 94}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{674, 108}, {90, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{285, 551}, {90, 96}}</string>
			<key>spriteOffset</key>
			<string>{10, -39}</string>
			<key>spriteSize</key>
			<string>{90, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{582, 210}, {90, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a21.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{287, 551}, {88, 96}}</string>
			<key>spriteOffset</key>
			<string>{11, -39}</string>
			<key>spriteSize</key>
			<string>{88, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{382, 6}, {88, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a22.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 550}, {88, 96}}</string>
			<key>spriteOffset</key>
			<string>{13, -38}</string>
			<key>spriteSize</key>
			<string>{88, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 6}, {88, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a23.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 550}, {88, 96}}</string>
			<key>spriteOffset</key>
			<string>{13, -38}</string>
			<key>spriteSize</key>
			<string>{88, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 6}, {88, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 550}, {88, 96}}</string>
			<key>spriteOffset</key>
			<string>{13, -38}</string>
			<key>spriteSize</key>
			<string>{88, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{664, 6}, {88, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a25.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 550}, {88, 96}}</string>
			<key>spriteOffset</key>
			<string>{13, -38}</string>
			<key>spriteSize</key>
			<string>{88, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{758, 6}, {88, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 550}, {88, 96}}</string>
			<key>spriteOffset</key>
			<string>{13, -38}</string>
			<key>spriteSize</key>
			<string>{88, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 108}, {88, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a27.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{287, 551}, {88, 96}}</string>
			<key>spriteOffset</key>
			<string>{11, -39}</string>
			<key>spriteSize</key>
			<string>{88, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{6, 108}, {88, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a28.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{285, 551}, {90, 96}}</string>
			<key>spriteOffset</key>
			<string>{10, -39}</string>
			<key>spriteSize</key>
			<string>{90, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{486, 210}, {90, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a29.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{283, 552}, {90, 94}}</string>
			<key>spriteOffset</key>
			<string>{8, -39}</string>
			<key>spriteSize</key>
			<string>{90, 94}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 210}, {90, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{257, 552}, {90, 94}}</string>
			<key>spriteOffset</key>
			<string>{-18, -39}</string>
			<key>spriteSize</key>
			<string>{90, 94}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{6, 210}, {90, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{279, 553}, {90, 94}}</string>
			<key>spriteOffset</key>
			<string>{4, -40}</string>
			<key>spriteSize</key>
			<string>{90, 94}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 108}, {90, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a31.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{274, 555}, {92, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -41}</string>
			<key>spriteSize</key>
			<string>{92, 92}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{6, 312}, {92, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{255, 551}, {90, 96}}</string>
			<key>spriteOffset</key>
			<string>{-20, -39}</string>
			<key>spriteSize</key>
			<string>{90, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{386, 108}, {90, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{252, 550}, {90, 96}}</string>
			<key>spriteOffset</key>
			<string>{-23, -38}</string>
			<key>spriteSize</key>
			<string>{90, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 108}, {90, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{252, 550}, {88, 96}}</string>
			<key>spriteOffset</key>
			<string>{-24, -38}</string>
			<key>spriteSize</key>
			<string>{88, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{852, 6}, {88, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{251, 550}, {90, 96}}</string>
			<key>spriteOffset</key>
			<string>{-24, -38}</string>
			<key>spriteSize</key>
			<string>{90, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 108}, {90, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{252, 551}, {88, 96}}</string>
			<key>spriteOffset</key>
			<string>{-24, -39}</string>
			<key>spriteSize</key>
			<string>{88, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 6}, {88, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_1_a9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{252, 551}, {88, 96}}</string>
			<key>spriteOffset</key>
			<string>{-24, -39}</string>
			<key>spriteSize</key>
			<string>{88, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 6}, {88, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>plant_6_1_n_1</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>target</key>
		<dict>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>coordinatesFileName</key>
			<string>plant_6_1_n_1_anim</string>
			<key>name</key>
			<string>plant_4_1_n_1_anim</string>
			<key>premultipliedAlpha</key>
			<false/>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>textureFileName</key>
			<string>plant_6_1_n_1_anim-hd</string>
		</dict>
		<key>version</key>
		<string>1.5.8</string>
	</dict>
</dict>
</plist>
