<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>plant_2_1_n_2_a0.png</key>
		<dict>
			<key>aliases</key>
			<array>
				<string>plant_2_1_n_2_a3.png</string>
				<string>plant_2_1_n_2_a4.png</string>
				<string>plant_2_1_n_2_a2.png</string>
				<string>plant_2_1_n_2_a5.png</string>
				<string>plant_2_1_n_2_a1.png</string>
			</array>
			<key>spriteColorRect</key>
			<string>{{258, 551}, {158, 96}}</string>
			<key>spriteOffset</key>
			<string>{17, -39}</string>
			<key>spriteSize</key>
			<string>{158, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 430}, {158, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_1_n_2_a10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{258, 549}, {158, 98}}</string>
			<key>spriteOffset</key>
			<string>{17, -38}</string>
			<key>spriteSize</key>
			<string>{158, 98}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 324}, {158, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_1_n_2_a11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{258, 554}, {158, 94}}</string>
			<key>spriteOffset</key>
			<string>{17, -41}</string>
			<key>spriteSize</key>
			<string>{158, 94}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 8}, {158, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_1_n_2_a12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{258, 552}, {158, 96}}</string>
			<key>spriteOffset</key>
			<string>{17, -40}</string>
			<key>spriteSize</key>
			<string>{158, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 430}, {158, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_1_n_2_a13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{258, 551}, {158, 96}}</string>
			<key>spriteOffset</key>
			<string>{17, -39}</string>
			<key>spriteSize</key>
			<string>{158, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 324}, {158, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_1_n_2_a14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{258, 548}, {158, 100}}</string>
			<key>spriteOffset</key>
			<string>{17, -38}</string>
			<key>spriteSize</key>
			<string>{158, 100}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 536}, {158, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_1_n_2_a15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{258, 548}, {158, 100}}</string>
			<key>spriteOffset</key>
			<string>{17, -38}</string>
			<key>spriteSize</key>
			<string>{158, 100}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 216}, {158, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_1_n_2_a16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{258, 549}, {158, 98}}</string>
			<key>spriteOffset</key>
			<string>{17, -38}</string>
			<key>spriteSize</key>
			<string>{158, 98}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 110}, {158, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_1_n_2_a17.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{258, 550}, {158, 98}}</string>
			<key>spriteOffset</key>
			<string>{17, -39}</string>
			<key>spriteSize</key>
			<string>{158, 98}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 430}, {158, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_1_n_2_a18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{258, 551}, {158, 96}}</string>
			<key>spriteOffset</key>
			<string>{17, -39}</string>
			<key>spriteSize</key>
			<string>{158, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 216}, {158, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_1_n_2_a19.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{258, 551}, {158, 96}}</string>
			<key>spriteOffset</key>
			<string>{17, -39}</string>
			<key>spriteSize</key>
			<string>{158, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 110}, {158, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_1_n_2_a20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{258, 550}, {158, 98}}</string>
			<key>spriteOffset</key>
			<string>{17, -39}</string>
			<key>spriteSize</key>
			<string>{158, 98}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 324}, {158, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_1_n_2_a21.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{258, 550}, {158, 98}}</string>
			<key>spriteOffset</key>
			<string>{17, -39}</string>
			<key>spriteSize</key>
			<string>{158, 98}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 216}, {158, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_1_n_2_a22.png</key>
		<dict>
			<key>aliases</key>
			<array>
				<string>plant_2_1_n_2_a27.png</string>
				<string>plant_2_1_n_2_a30.png</string>
				<string>plant_2_1_n_2_a26.png</string>
				<string>plant_2_1_n_2_a25.png</string>
				<string>plant_2_1_n_2_a29.png</string>
				<string>plant_2_1_n_2_a28.png</string>
				<string>plant_2_1_n_2_a24.png</string>
				<string>plant_2_1_n_2_a23.png</string>
				<string>plant_2_1_n_2_a31.png</string>
			</array>
			<key>spriteColorRect</key>
			<string>{{258, 551}, {158, 96}}</string>
			<key>spriteOffset</key>
			<string>{17, -39}</string>
			<key>spriteSize</key>
			<string>{158, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 536}, {158, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_1_n_2_a6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{258, 555}, {158, 92}}</string>
			<key>spriteOffset</key>
			<string>{17, -41}</string>
			<key>spriteSize</key>
			<string>{158, 92}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 8}, {158, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_1_n_2_a7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{258, 560}, {158, 88}}</string>
			<key>spriteOffset</key>
			<string>{17, -44}</string>
			<key>spriteSize</key>
			<string>{158, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 110}, {158, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_1_n_2_a8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{258, 553}, {158, 94}}</string>
			<key>spriteOffset</key>
			<string>{17, -40}</string>
			<key>spriteSize</key>
			<string>{158, 94}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 8}, {158, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_1_n_2_a9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{258, 545}, {158, 102}}</string>
			<key>spriteOffset</key>
			<string>{17, -36}</string>
			<key>spriteSize</key>
			<string>{158, 102}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 536}, {158, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>plant_2_1_n_2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>target</key>
		<dict>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>coordinatesFileName</key>
			<string>plant_2_1_n_2_anim</string>
			<key>name</key>
			<string>retina</string>
			<key>premultipliedAlpha</key>
			<false/>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>textureFileName</key>
			<string>plant_2_1_n_2_anim-hd</string>
		</dict>
		<key>version</key>
		<string>1.5.8</string>
	</dict>
</dict>
</plist>
