<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>plant_2_2_n_2_a0.png</key>
		<dict>
			<key>aliases</key>
			<array>
				<string>plant_2_2_n_2_a26.png</string>
				<string>plant_2_2_n_2_a23.png</string>
				<string>plant_2_2_n_2_a1.png</string>
				<string>plant_2_2_n_2_a5.png</string>
				<string>plant_2_2_n_2_a27.png</string>
				<string>plant_2_2_n_2_a24.png</string>
				<string>plant_2_2_n_2_a3.png</string>
				<string>plant_2_2_n_2_a30.png</string>
				<string>plant_2_2_n_2_a29.png</string>
				<string>plant_2_2_n_2_a28.png</string>
				<string>plant_2_2_n_2_a31.png</string>
				<string>plant_2_2_n_2_a4.png</string>
				<string>plant_2_2_n_2_a25.png</string>
				<string>plant_2_2_n_2_a2.png</string>
			</array>
			<key>spriteColorRect</key>
			<string>{{243, 516}, {156, 154}}</string>
			<key>spriteOffset</key>
			<string>{1, -33}</string>
			<key>spriteSize</key>
			<string>{156, 154}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 328}, {156, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_2_n_2_a10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 517}, {156, 148}}</string>
			<key>spriteOffset</key>
			<string>{1, -31}</string>
			<key>spriteSize</key>
			<string>{156, 148}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 170}, {156, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_2_n_2_a11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 523}, {156, 146}}</string>
			<key>spriteOffset</key>
			<string>{1, -36}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 170}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_2_n_2_a12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 520}, {156, 152}}</string>
			<key>spriteOffset</key>
			<string>{1, -36}</string>
			<key>spriteSize</key>
			<string>{156, 152}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 490}, {156, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_2_n_2_a13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 518}, {156, 156}}</string>
			<key>spriteOffset</key>
			<string>{1, -36}</string>
			<key>spriteSize</key>
			<string>{156, 156}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 490}, {156, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_2_n_2_a14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 514}, {156, 158}}</string>
			<key>spriteOffset</key>
			<string>{1, -33}</string>
			<key>spriteSize</key>
			<string>{156, 158}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 816}, {156, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_2_n_2_a15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 515}, {156, 154}}</string>
			<key>spriteOffset</key>
			<string>{1, -32}</string>
			<key>spriteSize</key>
			<string>{156, 154}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 8}, {156, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_2_n_2_a16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 516}, {156, 154}}</string>
			<key>spriteOffset</key>
			<string>{1, -33}</string>
			<key>spriteSize</key>
			<string>{156, 154}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 654}, {156, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_2_n_2_a17.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 517}, {156, 152}}</string>
			<key>spriteOffset</key>
			<string>{1, -33}</string>
			<key>spriteSize</key>
			<string>{156, 152}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 816}, {156, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_2_n_2_a18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 518}, {156, 152}}</string>
			<key>spriteOffset</key>
			<string>{1, -34}</string>
			<key>spriteSize</key>
			<string>{156, 152}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 654}, {156, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_2_n_2_a19.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 518}, {156, 152}}</string>
			<key>spriteOffset</key>
			<string>{1, -34}</string>
			<key>spriteSize</key>
			<string>{156, 152}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 654}, {156, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_2_n_2_a20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 517}, {156, 152}}</string>
			<key>spriteOffset</key>
			<string>{1, -33}</string>
			<key>spriteSize</key>
			<string>{156, 152}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 328}, {156, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_2_n_2_a21.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 517}, {156, 152}}</string>
			<key>spriteOffset</key>
			<string>{1, -33}</string>
			<key>spriteSize</key>
			<string>{156, 152}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 328}, {156, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_2_n_2_a22.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 517}, {156, 152}}</string>
			<key>spriteOffset</key>
			<string>{1, -33}</string>
			<key>spriteSize</key>
			<string>{156, 152}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 490}, {156, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_2_n_2_a6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 524}, {156, 148}}</string>
			<key>spriteOffset</key>
			<string>{1, -38}</string>
			<key>spriteSize</key>
			<string>{156, 148}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 8}, {156, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_2_n_2_a7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 534}, {154, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, -45}</string>
			<key>spriteSize</key>
			<string>{154, 142}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 8}, {154, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_2_n_2_a8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 523}, {156, 150}}</string>
			<key>spriteOffset</key>
			<string>{1, -38}</string>
			<key>spriteSize</key>
			<string>{156, 150}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 170}, {156, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_2_2_n_2_a9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 512}, {158, 154}}</string>
			<key>spriteOffset</key>
			<string>{2, -29}</string>
			<key>spriteSize</key>
			<string>{158, 154}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 816}, {158, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>plant_2_2_n_2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>target</key>
		<dict>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>coordinatesFileName</key>
			<string>plant_2_2_n_2_anim</string>
			<key>name</key>
			<string>retina</string>
			<key>premultipliedAlpha</key>
			<false/>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>textureFileName</key>
			<string>plant_2_2_n_2_anim-hd</string>
		</dict>
		<key>version</key>
		<string>1.5.8</string>
	</dict>
</dict>
</plist>
