<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>plant_5_3_t_2_a0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{237, 468}, {174, 180}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{174, 180}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{716, 938}, {174, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{237, 468}, {174, 180}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{174, 180}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538, 562}, {174, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{238, 468}, {174, 190}}</string>
			<key>spriteOffset</key>
			<string>{5, -3}</string>
			<key>spriteSize</key>
			<string>{174, 190}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 938}, {174, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{238, 475}, {172, 184}}</string>
			<key>spriteOffset</key>
			<string>{4, -7}</string>
			<key>spriteSize</key>
			<string>{172, 184}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 4}, {172, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{238, 470}, {172, 178}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{172, 178}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{706, 4}, {172, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{237, 465}, {174, 182}}</string>
			<key>spriteOffset</key>
			<string>{4, 4}</string>
			<key>spriteSize</key>
			<string>{174, 182}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 938}, {174, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{237, 467}, {174, 184}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{174, 184}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 750}, {174, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{238, 470}, {174, 184}}</string>
			<key>spriteOffset</key>
			<string>{5, -2}</string>
			<key>spriteSize</key>
			<string>{174, 184}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 562}, {174, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{238, 472}, {172, 180}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{172, 180}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 4}, {172, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a17.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{238, 471}, {172, 180}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{172, 180}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 192}, {172, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{238, 469}, {174, 180}}</string>
			<key>spriteOffset</key>
			<string>{5, 1}</string>
			<key>spriteSize</key>
			<string>{174, 180}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538, 938}, {174, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a19.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{237, 468}, {174, 180}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{174, 180}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 1132}, {174, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{237, 468}, {174, 180}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{174, 180}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 562}, {174, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{237, 467}, {174, 182}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{174, 182}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{716, 750}, {174, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a21.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{237, 467}, {174, 182}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{174, 182}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 376}, {174, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a22.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{237, 467}, {174, 182}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{174, 182}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 376}, {174, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a23.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{238, 468}, {174, 182}}</string>
			<key>spriteOffset</key>
			<string>{5, 1}</string>
			<key>spriteSize</key>
			<string>{174, 182}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 750}, {174, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{238, 469}, {174, 180}}</string>
			<key>spriteOffset</key>
			<string>{5, 1}</string>
			<key>spriteSize</key>
			<string>{174, 180}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 376}, {174, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a25.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{238, 469}, {174, 180}}</string>
			<key>spriteOffset</key>
			<string>{5, 1}</string>
			<key>spriteSize</key>
			<string>{174, 180}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538, 376}, {174, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{238, 469}, {174, 180}}</string>
			<key>spriteOffset</key>
			<string>{5, 1}</string>
			<key>spriteSize</key>
			<string>{174, 180}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{716, 376}, {174, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a27.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{238, 469}, {174, 180}}</string>
			<key>spriteOffset</key>
			<string>{5, 1}</string>
			<key>spriteSize</key>
			<string>{174, 180}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{716, 562}, {174, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a28.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{238, 468}, {174, 180}}</string>
			<key>spriteOffset</key>
			<string>{5, 2}</string>
			<key>spriteSize</key>
			<string>{174, 180}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{534, 192}, {174, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a29.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{238, 468}, {174, 180}}</string>
			<key>spriteOffset</key>
			<string>{5, 2}</string>
			<key>spriteSize</key>
			<string>{174, 180}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 192}, {174, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{237, 468}, {174, 180}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{174, 180}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 750}, {174, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{237, 468}, {174, 180}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{174, 180}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 938}, {174, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a31.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{237, 468}, {174, 180}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{174, 180}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538, 750}, {174, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{237, 468}, {174, 180}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{174, 180}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{712, 192}, {174, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{237, 468}, {174, 180}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{174, 180}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 562}, {174, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{238, 475}, {172, 174}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{172, 174}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{530, 4}, {172, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{238, 482}, {170, 166}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{170, 166}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 4}, {170, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{238, 472}, {172, 172}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{172, 172}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 192}, {172, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_3_t_2_a9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{237, 462}, {176, 184}}</string>
			<key>spriteOffset</key>
			<string>{5, 6}</string>
			<key>spriteSize</key>
			<string>{176, 184}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 1132}, {176, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>plant_5_3_t_2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>target</key>
		<dict>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>coordinatesFileName</key>
			<string>plant_5_3_t_2_anim</string>
			<key>name</key>
			<string>plant_4_3_t_2_anim</string>
			<key>premultipliedAlpha</key>
			<false/>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>textureFileName</key>
			<string>plant_5_3_t_2_anim-hd</string>
		</dict>
		<key>version</key>
		<string>1.5.8</string>
	</dict>
</dict>
</plist>
