<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>plant_5_2_t_2_a0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 500}, {106, 146}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{106, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 306}, {106, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 500}, {106, 146}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{106, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{434, 4}, {106, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 500}, {106, 146}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{106, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{654, 4}, {106, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 507}, {104, 140}}</string>
			<key>spriteOffset</key>
			<string>{-2, -17}</string>
			<key>spriteSize</key>
			<string>{104, 140}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 4}, {104, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 502}, {106, 144}}</string>
			<key>spriteOffset</key>
			<string>{-1, -14}</string>
			<key>spriteSize</key>
			<string>{106, 144}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 458}, {106, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 497}, {108, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -12}</string>
			<key>spriteSize</key>
			<string>{108, 150}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 458}, {108, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 499}, {106, 148}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{106, 148}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 306}, {106, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 502}, {106, 144}}</string>
			<key>spriteOffset</key>
			<string>{-1, -14}</string>
			<key>spriteSize</key>
			<string>{106, 144}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{664, 154}, {106, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 504}, {106, 142}}</string>
			<key>spriteOffset</key>
			<string>{-1, -15}</string>
			<key>spriteSize</key>
			<string>{106, 142}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{664, 306}, {106, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a17.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 503}, {106, 144}}</string>
			<key>spriteOffset</key>
			<string>{-1, -15}</string>
			<key>spriteSize</key>
			<string>{106, 144}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{884, 154}, {106, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 501}, {106, 146}}</string>
			<key>spriteOffset</key>
			<string>{-1, -14}</string>
			<key>spriteSize</key>
			<string>{106, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{874, 4}, {106, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a19.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 499}, {106, 148}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{106, 148}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 154}, {106, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 500}, {106, 146}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{106, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 306}, {106, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 499}, {106, 148}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{106, 148}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 154}, {106, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a21.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 499}, {106, 148}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{106, 148}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 154}, {106, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a22.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 499}, {106, 148}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{106, 148}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 306}, {106, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a23.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 500}, {106, 146}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{106, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{554, 306}, {106, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 501}, {106, 146}}</string>
			<key>spriteOffset</key>
			<string>{-1, -14}</string>
			<key>spriteSize</key>
			<string>{106, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 306}, {106, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a25.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 501}, {106, 146}}</string>
			<key>spriteOffset</key>
			<string>{-1, -14}</string>
			<key>spriteSize</key>
			<string>{106, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 154}, {106, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 501}, {106, 146}}</string>
			<key>spriteOffset</key>
			<string>{-1, -14}</string>
			<key>spriteSize</key>
			<string>{106, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{554, 154}, {106, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a27.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 501}, {106, 146}}</string>
			<key>spriteOffset</key>
			<string>{-1, -14}</string>
			<key>spriteSize</key>
			<string>{106, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{764, 4}, {106, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a28.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 500}, {106, 146}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{106, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 154}, {106, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a29.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 500}, {106, 146}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{106, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 458}, {106, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 500}, {106, 146}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{106, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 458}, {106, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 500}, {106, 146}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{106, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 154}, {106, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a31.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 500}, {106, 146}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{106, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{884, 306}, {106, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 500}, {106, 146}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{106, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{544, 4}, {106, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 500}, {106, 146}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{106, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 306}, {106, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 507}, {104, 140}}</string>
			<key>spriteOffset</key>
			<string>{-2, -17}</string>
			<key>spriteSize</key>
			<string>{104, 140}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{110, 4}, {104, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 513}, {102, 134}}</string>
			<key>spriteOffset</key>
			<string>{-3, -20}</string>
			<key>spriteSize</key>
			<string>{102, 134}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 4}, {102, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 504}, {104, 142}}</string>
			<key>spriteOffset</key>
			<string>{-2, -15}</string>
			<key>spriteSize</key>
			<string>{104, 142}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{326, 4}, {104, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_t_2_a9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{265, 494}, {110, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -10}</string>
			<key>spriteSize</key>
			<string>{110, 152}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 458}, {110, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>plant_5_2_t_2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>target</key>
		<dict>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>coordinatesFileName</key>
			<string>plant_5_2_t_2_anim</string>
			<key>name</key>
			<string>plant_4_2_t_2_anim</string>
			<key>premultipliedAlpha</key>
			<false/>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>textureFileName</key>
			<string>plant_5_2_t_2_anim-hd</string>
		</dict>
		<key>version</key>
		<string>1.5.8</string>
	</dict>
</dict>
</plist>
