<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>plant_5_2_n_1_a0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{254, 477}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 352}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{254, 477}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 178}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{251, 478}, {132, 170}}</string>
			<key>spriteOffset</key>
			<string>{-3, -3}</string>
			<key>spriteSize</key>
			<string>{132, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 178}, {132, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{251, 478}, {132, 170}}</string>
			<key>spriteOffset</key>
			<string>{-3, -3}</string>
			<key>spriteSize</key>
			<string>{132, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 178}, {132, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{252, 478}, {132, 170}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{132, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{684, 4}, {132, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{252, 477}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 178}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{253, 477}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{556, 526}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{254, 477}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{418, 526}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{254, 477}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{832, 526}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a17.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{255, 477}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 526}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{256, 477}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{832, 352}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a19.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{257, 477}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 178}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{253, 477}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 526}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{258, 478}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{5, -3}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{418, 352}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a21.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{259, 478}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{6, -3}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 352}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a22.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{260, 478}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{7, -3}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{694, 526}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a23.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{260, 478}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{7, -3}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{556, 352}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{260, 478}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{7, -3}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 700}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a25.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{260, 478}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{7, -3}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{694, 352}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{260, 478}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{7, -3}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{552, 178}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a27.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{259, 478}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{6, -3}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{418, 700}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a28.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{258, 478}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{5, -3}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{690, 178}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a29.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{257, 477}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 700}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{252, 477}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 352}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{256, 477}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 700}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a31.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{255, 477}, {134, 170}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{134, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 526}, {134, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{252, 478}, {132, 170}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{132, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{548, 4}, {132, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{251, 478}, {132, 170}}</string>
			<key>spriteOffset</key>
			<string>{-3, -3}</string>
			<key>spriteSize</key>
			<string>{132, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 4}, {132, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{251, 478}, {132, 170}}</string>
			<key>spriteOffset</key>
			<string>{-3, -3}</string>
			<key>spriteSize</key>
			<string>{132, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 4}, {132, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{250, 478}, {132, 170}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{132, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{820, 4}, {132, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{250, 478}, {132, 170}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{132, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 4}, {132, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_5_2_n_1_a9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{250, 478}, {132, 170}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{132, 170}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 4}, {132, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>plant_5_2_n_1</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>target</key>
		<dict>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>coordinatesFileName</key>
			<string>plant_5_2_n_1_anim</string>
			<key>name</key>
			<string>plant_4_2_n_1_anim</string>
			<key>premultipliedAlpha</key>
			<false/>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>textureFileName</key>
			<string>plant_5_2_n_1_anim-hd</string>
		</dict>
		<key>version</key>
		<string>1.5.8</string>
	</dict>
</dict>
</plist>
