<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>plant_3_2_t_2_a0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>plant_3_2_t_2_a31.png</string>
			
				<string>plant_3_2_t_2_a1.png</string>
			
				<string>plant_3_2_t_2_a30.png</string>
			
				<string>plant_3_2_t_2_a2.png</string>
			
				<string>plant_3_2_t_2_a4.png</string>
			
				<string>plant_3_2_t_2_a5.png</string>
			
				<string>plant_3_2_t_2_a3.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 410}, {126, 158}}</string>
			<key>spriteOffset</key>
			<string>{12, -9}</string>
			<key>spriteSize</key>
			<string>{126, 158}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {126, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 413}, {126, 156}}</string>
			<key>spriteOffset</key>
			<string>{12, -11}</string>
			<key>spriteSize</key>
			<string>{126, 156}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{778, 158}, {126, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 413}, {126, 156}}</string>
			<key>spriteOffset</key>
			<string>{12, -11}</string>
			<key>spriteSize</key>
			<string>{126, 156}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{652, 158}, {126, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 412}, {126, 156}}</string>
			<key>spriteOffset</key>
			<string>{12, -10}</string>
			<key>spriteSize</key>
			<string>{126, 156}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 314}, {126, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 412}, {126, 156}}</string>
			<key>spriteOffset</key>
			<string>{12, -10}</string>
			<key>spriteSize</key>
			<string>{126, 156}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{390, 294}, {126, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 413}, {126, 156}}</string>
			<key>spriteOffset</key>
			<string>{12, -11}</string>
			<key>spriteSize</key>
			<string>{126, 156}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 316}, {126, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 415}, {126, 154}}</string>
			<key>spriteOffset</key>
			<string>{12, -12}</string>
			<key>spriteSize</key>
			<string>{126, 154}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 450}, {126, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 413}, {126, 156}}</string>
			<key>spriteOffset</key>
			<string>{12, -11}</string>
			<key>spriteSize</key>
			<string>{126, 156}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 304}, {126, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 413}, {126, 156}}</string>
			<key>spriteOffset</key>
			<string>{12, -11}</string>
			<key>spriteSize</key>
			<string>{126, 156}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{652, 314}, {126, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 411}, {126, 158}}</string>
			<key>spriteOffset</key>
			<string>{12, -10}</string>
			<key>spriteSize</key>
			<string>{126, 158}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 136}, {126, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 410}, {126, 158}}</string>
			<key>spriteOffset</key>
			<string>{12, -9}</string>
			<key>spriteSize</key>
			<string>{126, 158}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 156}, {126, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 410}, {126, 158}}</string>
			<key>spriteOffset</key>
			<string>{12, -9}</string>
			<key>spriteSize</key>
			<string>{126, 158}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 146}, {126, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 410}, {126, 158}}</string>
			<key>spriteOffset</key>
			<string>{12, -9}</string>
			<key>spriteSize</key>
			<string>{126, 158}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 158}, {126, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 410}, {126, 158}}</string>
			<key>spriteOffset</key>
			<string>{12, -9}</string>
			<key>spriteSize</key>
			<string>{126, 158}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{660, 0}, {126, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 411}, {126, 158}}</string>
			<key>spriteOffset</key>
			<string>{12, -10}</string>
			<key>spriteSize</key>
			<string>{126, 158}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{534, 0}, {126, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 411}, {126, 158}}</string>
			<key>spriteOffset</key>
			<string>{12, -10}</string>
			<key>spriteSize</key>
			<string>{126, 158}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 158}, {126, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 411}, {126, 158}}</string>
			<key>spriteOffset</key>
			<string>{12, -10}</string>
			<key>spriteSize</key>
			<string>{126, 158}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{786, 0}, {126, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 411}, {126, 158}}</string>
			<key>spriteOffset</key>
			<string>{12, -10}</string>
			<key>spriteSize</key>
			<string>{126, 158}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 790}, {126, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 411}, {126, 158}}</string>
			<key>spriteOffset</key>
			<string>{12, -10}</string>
			<key>spriteSize</key>
			<string>{126, 158}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 632}, {126, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 410}, {126, 158}}</string>
			<key>spriteOffset</key>
			<string>{12, -9}</string>
			<key>spriteSize</key>
			<string>{126, 158}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 474}, {126, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 410}, {126, 158}}</string>
			<key>spriteOffset</key>
			<string>{12, -9}</string>
			<key>spriteSize</key>
			<string>{126, 158}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 316}, {126, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 421}, {126, 148}}</string>
			<key>spriteOffset</key>
			<string>{12, -15}</string>
			<key>spriteSize</key>
			<string>{126, 148}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 460}, {126, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 432}, {134, 136}}</string>
			<key>spriteOffset</key>
			<string>{16, -20}</string>
			<key>spriteSize</key>
			<string>{134, 136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 0}, {134, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 422}, {136, 146}}</string>
			<key>spriteOffset</key>
			<string>{17, -15}</string>
			<key>spriteSize</key>
			<string>{136, 146}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 0}, {136, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plant_3_2_t_2_a9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{269, 413}, {138, 156}}</string>
			<key>spriteOffset</key>
			<string>{18, -11}</string>
			<key>spriteSize</key>
			<string>{138, 156}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 0}, {138, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>plant_3_2_t_2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>plant_3_2_t_2_anim</string>
			<key>textureFileName</key>
			<string>plant_3_2_t_2_anim-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>plant_3_2_t_2_anim</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>