<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>plant_18_1_n_1_a0.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{2,82},{118,74}}</string>
			<key>spriteOffset</key>
			<string>{-1,-49}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,576},{118,74}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a1.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{122,2},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a10.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{122,80},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a11.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{242,2},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a12.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{242,80},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a13.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{362,2},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a14.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{2,2},{118,78}}</string>
			<key>spriteOffset</key>
			<string>{-1,-47}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,572},{118,78}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a15.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{362,80},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a16.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{482,2},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a17.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{482,80},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a18.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{602,2},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a19.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{602,80},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a2.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{722,2},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a20.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{722,80},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a21.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{842,2},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a22.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{842,80},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a23.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{962,2},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a24.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{962,80},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a25.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{1082,2},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a26.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{1082,80},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a27.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{1202,2},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a28.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{1202,80},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a29.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{1322,2},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a3.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{1322,80},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a30.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{1442,2},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a31.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{1442,80},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a4.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{1562,2},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a5.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{1562,80},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a6.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{1682,2},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a7.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{1802,2},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a8.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{1682,80},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>plant_18_1_n_1_a9.png</key>
		<dict>
			<key>textureRect</key>
			<string>{{1802,80},{118,76}}</string>
			<key>spriteOffset</key>
			<string>{-1,-48}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteColorRect</key>
			<string>{{260,574},{118,76}}</string>
			<key>spriteSourceSize</key>
			<string>{640,960}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>plant_18_1_n_1_anim-hd.png</string>
		<key>size</key>
		<string>{1922,158}</string>
		<key>target</key>
		<dict>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>coordinatesFileName</key>
			<string>plant_6_4_n_2_anim</string>
			<key>name</key>
			<string>retina</string>
			<key>premultipliedAlpha</key>
			<false/>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>textureFileName</key>
			<string>plant_18_1_n_1_1_anim-hd</string>
		</dict>
	</dict>
</dict>
</plist>
