<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>plant_6_4_t_1_a25.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{165, 295}, {358, 352}}</string>
			<key>spriteOffset</key>
			<string>{24, 89}</string>
			<key>spriteSize</key>
			<string>{358, 352}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 704}, {358, 352}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_4_t_1_a26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{164, 295}, {358, 352}}</string>
			<key>spriteOffset</key>
			<string>{23, 89}</string>
			<key>spriteSize</key>
			<string>{358, 352}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 704}, {358, 352}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_4_t_1_a27.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{162, 296}, {358, 350}}</string>
			<key>spriteOffset</key>
			<string>{21, 89}</string>
			<key>spriteSize</key>
			<string>{358, 350}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1058}, {350, 358}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>plant_6_4_t_1_a28.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{160, 296}, {360, 350}}</string>
			<key>spriteOffset</key>
			<string>{20, 89}</string>
			<key>spriteSize</key>
			<string>{360, 350}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {360, 350}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_4_t_1_a29.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{158, 297}, {360, 350}}</string>
			<key>spriteOffset</key>
			<string>{18, 88}</string>
			<key>spriteSize</key>
			<string>{360, 350}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 2}, {360, 350}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_4_t_1_a30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{156, 298}, {360, 348}}</string>
			<key>spriteOffset</key>
			<string>{16, 88}</string>
			<key>spriteSize</key>
			<string>{360, 348}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 354}, {360, 348}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_4_t_1_a31.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{154, 299}, {360, 348}}</string>
			<key>spriteOffset</key>
			<string>{14, 87}</string>
			<key>spriteSize</key>
			<string>{360, 348}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 354}, {360, 348}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>plant_6_4_t_1_2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>target</key>
		<dict>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>coordinatesFileName</key>
			<string>plant_6_4_t_1_2_anim</string>
			<key>name</key>
			<string>retina</string>
			<key>premultipliedAlpha</key>
			<false/>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>textureFileName</key>
			<string>plant_6_4_t_1_2_anim-hd</string>
		</dict>
		<key>version</key>
		<string>1.5.8</string>
	</dict>
</dict>
</plist>
