<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>plant_6_1_n_2_a0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 559}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -43}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 8}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 559}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -43}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{890, 8}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 554}, {90, 92}}</string>
			<key>spriteOffset</key>
			<string>{-5, -40}</string>
			<key>spriteSize</key>
			<string>{90, 92}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{792, 112}, {90, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{267, 562}, {92, 84}}</string>
			<key>spriteOffset</key>
			<string>{-7, -44}</string>
			<key>spriteSize</key>
			<string>{92, 84}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{796, 212}, {92, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{269, 558}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-6, -42}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 112}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{271, 550}, {90, 96}}</string>
			<key>spriteOffset</key>
			<string>{-4, -38}</string>
			<key>spriteSize</key>
			<string>{90, 96}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 8}, {90, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 553}, {92, 94}}</string>
			<key>spriteOffset</key>
			<string>{-4, -40}</string>
			<key>spriteSize</key>
			<string>{92, 94}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{696, 212}, {92, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 558}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -42}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 112}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 561}, {90, 86}}</string>
			<key>spriteOffset</key>
			<string>{-5, -44}</string>
			<key>spriteSize</key>
			<string>{90, 86}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 212}, {90, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a17.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 561}, {90, 86}}</string>
			<key>spriteOffset</key>
			<string>{-5, -44}</string>
			<key>spriteSize</key>
			<string>{90, 86}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 212}, {90, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 559}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -43}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 112}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a19.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 558}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -42}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 112}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 559}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -43}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{890, 112}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 556}, {90, 90}}</string>
			<key>spriteOffset</key>
			<string>{-5, -41}</string>
			<key>spriteSize</key>
			<string>{90, 90}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 8}, {90, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a21.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 556}, {90, 90}}</string>
			<key>spriteOffset</key>
			<string>{-5, -41}</string>
			<key>spriteSize</key>
			<string>{90, 90}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 8}, {90, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a22.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 556}, {90, 90}}</string>
			<key>spriteOffset</key>
			<string>{-5, -41}</string>
			<key>spriteSize</key>
			<string>{90, 90}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{596, 112}, {90, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a23.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 556}, {90, 90}}</string>
			<key>spriteOffset</key>
			<string>{-5, -41}</string>
			<key>spriteSize</key>
			<string>{90, 90}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{792, 8}, {90, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 557}, {90, 90}}</string>
			<key>spriteOffset</key>
			<string>{-5, -42}</string>
			<key>spriteSize</key>
			<string>{90, 90}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 112}, {90, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a25.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 558}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -42}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 112}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 558}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -42}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{694, 112}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a27.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 559}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -43}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 212}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a28.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 559}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -43}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 212}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a29.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 559}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -43}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 8}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 559}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -43}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{596, 8}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 559}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -43}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 212}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a31.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 559}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -43}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 8}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 559}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -43}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{694, 8}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 559}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -43}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 212}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 562}, {92, 84}}</string>
			<key>spriteOffset</key>
			<string>{-8, -44}</string>
			<key>spriteSize</key>
			<string>{92, 84}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{596, 212}, {92, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{264, 567}, {92, 80}}</string>
			<key>spriteOffset</key>
			<string>{-10, -47}</string>
			<key>spriteSize</key>
			<string>{92, 80}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{896, 212}, {92, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{267, 557}, {92, 90}}</string>
			<key>spriteOffset</key>
			<string>{-7, -42}</string>
			<key>spriteSize</key>
			<string>{92, 90}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 314}, {92, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plant_6_1_n_2_a9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{273, 540}, {92, 108}}</string>
			<key>spriteOffset</key>
			<string>{-1, -34}</string>
			<key>spriteSize</key>
			<string>{92, 108}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 314}, {92, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>plant_6_1_n_2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>target</key>
		<dict>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>coordinatesFileName</key>
			<string>plant_6_1_n_2_anim</string>
			<key>name</key>
			<string>plant_4_1_n_2_anim</string>
			<key>premultipliedAlpha</key>
			<false/>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>textureFileName</key>
			<string>plant_6_1_n_2_anim-hd</string>
		</dict>
		<key>version</key>
		<string>1.5.8</string>
	</dict>
</dict>
</plist>
